$px: 20px;
$fontAlata: "Alata", serif;
$fontWeightAlata: 400;
$fontJosefin: "Josefin Sans", serif;
$fontWeightJosefin: 300;

@mixin font($font-name) {
  @if $font-name == 'Alata' {
    font-family: $fontAlata;
    font-weight: $fontWeightAlata;
  } @else if $font-name == 'Josefin' {
    font-family: $fontJosefin;
    font-weight: $fontWeightJosefin;
  }
}

@media(max-width:599px){
    .main-container{
      width: 100vw;
      height: auto;
    }

    header{
      width: 100%;
      height: 80vh;
      padding: $px;
      background-size: contain;
      background: url(../images/mobile/image-hero.jpg) no-repeat center;
      background-position: center;
      margin-bottom: 10vh;
    }

    nav{
      margin-top: 2vh;
    }


    .banner h1{
      font-size: 3rem;
      padding: 15px;
    }

    // about

    .about{
      width: 100%;
      position: static;
      padding: 0 $px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10vh;

      .img-container img{
        display: block;
        width: 100%;
        margin-bottom: 5vh;
      }

      .about-content{
        width: 100%;
        display: block;
        position: static;
        padding: 20px;
        text-align: center;

        h2{
          font-size: 2rem;
        }
      }
    }

    // products

    .products{
      width: 100%;
      padding: 0 $px;
      margin-bottom: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .heading{
        width: 100%;
        padding: 0px;
        justify-content: center;
        margin-bottom: 3vh;

        h2{
          font-size: 2.2rem;
        }
        
        button{
          display: none;
        }
      }

      .product-grid{
        display: flex;
        flex-direction: column;
        margin-bottom: 2vh;
        gap: 2vh;

        .product-container{
          width: 100%;
          height: 15vh;

          h3{
            left: 15px;
            bottom: 15px;
            font-size: 1.8rem;
            max-width: 50vw;
          }
        } 
      }
    }

    .mobile-product-button{
      display: block;
    }
    // footer

    footer{
      padding: 0 $px;
    }

    .footer-links{
      display: flex;
      flex-direction: column;
      gap: 10px;

      .footer-logo{
        margin: 4vh 0;
      }

      .footer-socials ul{
        gap: 20px;
      }
    }

    .footer-nav{
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      .footer-nav-left ul{
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 0.8rem;
      }

      .footer-nav-right p{
        margin: 2vh 0;
      }
    }

    // nav button 

    .menu-toggle{
      display: block;
      max-height: 10vh;
      cursor: pointer;
      z-index: 20;
    }

    nav{
      display: flex;
      flex-direction: column;
    }

    .nav-left{
      width: 100%;
      height: 5vh;
      display: flex;
      justify-content: space-between;
    }

    .sidebar{
      position: fixed;
      top: 0;
      right: -100%;
      width: 100vw;
      height: 100vh;
      background-color: black;
      z-index: 19;

      ul{
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        margin: 20vh $px;
        z-index: 21;
        font-weight: 100;
        @include font('Josefin');
        text-transform: uppercase;
      }
    }

    .sidebar.active {
      right: 0;
  }

  body.no-scroll{
    overflow: hidden;
  }



}

