$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);
$white: #ffffff;

$fontAlata: "Alata", serif;
$fontWeightAlata: 400;
$fontJosefin: "Josefin Sans", serif;
$fontWeightJosefin: 300;
$fsRegular: 15px;
$fsH1: 4rem;

$px: 165px;
$mb: 180px;

@mixin font($font-name) {
  @if $font-name == 'Alata' {
    font-family: $fontAlata;
    font-weight: $fontWeightAlata;
  } @else if $font-name == 'Josefin' {
    font-family: $fontJosefin;
    font-weight: $fontWeightJosefin;
  }
}

// html styling

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;

}

html{
  @include font('Alata');
  font-size: $fsRegular;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}

h1,h2,h3{
  @include font('Josefin');
  text-transform: uppercase;
}


// main container styling

.main-container{
  width: 1440px;
  margin: auto;
}

// header styling

header{
  background: black url(../images/desktop/image-hero.jpg) no-repeat center;
  background-size: cover;
  padding: 65px $px;
  margin-bottom: $mb;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $mb;
  
  .nav-left{
    height: 25px;
    img{
      height: 100%;
    }
  }

  .nav-right{
    ul{
      display: flex;
      gap: 30px;
    }
  }
}

// active state li-elements

nav ul li{
  position: relative;
}

nav ul li::after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 2px;
  transform: translateX(-50%);
  background: #ffffff;
}

nav ul li:hover::after{
  width: 30px;
}

// banner styling

.banner h1{
  padding: 40px;
  border: 2px solid white;
  font-size: $fsH1;
  max-width: 600px;
  color: #ffffff;
  
}
